.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.users-list {
  width: 25vw;
  margin: 0 auto;
  text-align: left;
}

.hide {
  border: 1px solid red;
  display: none;
}

.form-button-adduser {
  margin-top: 5px;
}

.form-error {
  color: red;
  font-weight: bold;
  width: 25vw;
  margin: 10px auto;
}

.form-wrapper {
  width: 30vw;
  margin: 10px auto;
}

.form-wrapper fieldset {
  border-radius: 10px;
}
